@import 'markdown';

body {
  @apply antialiased;
  @apply subpixel-antialiased;
  @apply text-gray-100 leading-normal;
  background: #1a1a1a;
}

.header__logo {
  img {
    max-width: 100px;
  }
}

nav {
  display: none !important;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
